<%=  link_to "<- Home", '/welcome', method: :get %>

<h1>Articles</h1>

<ul>
  <% @articles.each do |article| %>
    <li>
      <h3><%= article.title %></h3>
      <p><%= article.body %></p>
    </li>
  <% end %>
</ul>

<h1>Create article</h1>

<div class="article-form">
  <%= form_tag '/article' do %>
    <%= label_tag :title%>
    <%= text_field_tag :title %>
    <%= label_tag :body%>
    <%= text_area_tag :body%>
    <%= submit_tag "Create article"%>
  <%end%>
</div>

